@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$main-color: #416FD6;
$secondary-color: #C6C6FF;
$main-font: Montserrat, sant-serif;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 16px;
} 

.button {
    border-radius: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    i {
        margin-right: 10px;
    }
}

.section-padding {
    padding: 60px 30px;
}

.section-padding-y {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-padding-x {
    padding-left: 30px;
    padding-right: 30px;
}

.line-through {
    text-decoration: line-through;
}

.fas.watermark-icon {
    display: none;
}

.right-column {
    display: none;
}

.section-header {
    position: relative;
    height: 100px;

    .section-heading {
        position: absolute;
        bottom: 10px;
        left: 30px;
    }

    .section-watermark-heading {
        position: absolute;
        bottom: 0;
        left: 2px;
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 2px;
        color: rgba($color: $main-color, $alpha: 0.05);
    }
}

nav ul {
    display: none;
}

nav {
    position: fixed;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    color: white;
    height: 50px;
    background-color: $main-color;

    .cta-hamburger-container {
        display: flex;
        align-items: center;

        a {
            border: 1px white solid;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 10px;
            color: white;

            i {
                padding-right: 5px;
                margin-left: 0;
                font-size: 8px;
            }
        }

        i {
            margin-left: 30px;
        }
    }
}

#hero-section {
    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $main-color;
        color: white;
        width: 100%;
        margin-top: 40px;

        p {
            margin-top: 30px;
        }

        img {
            height: 300px;
            width: 100%;
            margin-top: 30px;
        }

        a {
            margin-top: 30px;
            color: $main-color;
            background-color: white;
        }
    }
}

#features-section {
    .features-grid {

        .features-grid-element {
            margin-bottom: 30px;
            
            .features-svg-container {
                position: relative;

                &.float-right {
                    float: right;
                    top: 50px;
                    margin-right: 10px;
                }

                &.float-left {
                    top: 30px;
                    margin-left: 10px;
                    margin-top: 10px;
                }

                img {
                    max-height: 140px;
                    max-width: 200px;
                }
            }

            .features-text-container {   
                background-color: rgba($color: $secondary-color, $alpha: 0.5);
                padding: 30px;
                width: calc(100vw - 30px);

                &.float-right {
                    float: right;
                    border-radius: 10px 0 0 10px;
                }

                &.float-left {
                    border-radius: 0 10px 10px 0;
                }

                h3 {
                    width: 80%;
                }

                p {
                    margin-top: 10px;
                    text-align: justify;
                }
            }
        }
    }
}

#pricing-section {

    .pricing-cards-container {
        display: flex;
        overflow: auto;

        &::after {
            content: "";
            flex: 0 0 1px;
        }

        .pricing-card {
            border: 3px rgba($color: $secondary-color, $alpha: 0.5) solid;
            border-radius: 10px;
            background-color: rgba($color: $secondary-color, $alpha: 0.5);
            min-width: 70%;
            margin-right: 30px;

            &.spotlight {
                border: 3px $main-color solid;
                background-color: $main-color;
                transform: scale(1.03);
            }

            .pricing-card-heading {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                
                p {
                    font-size: 18px;
                }

                &.spotlight {
                    color: white;
                }
            }

            .pricing-card-content {
                padding: 20px;
                background-color: white;

                .pricing-card-price {
                    text-align: center;
                    font-weight: 600;
                    font-size: 15px;
                    margin-top: 5px;
                }

                .pricing-card-benefit-list {
                    margin-top: 20px;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;

                        i {
                            width: 20px;
                            padding-right: 30px;

                            &.fa-check {
                                color: #38B238;
                            }

                            &.fa-times {
                                color: #D32E2E;
                            }
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

#signup-section {
    width: 100%;

    .signup-section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        p {
            font-size: 18px;
            font-weight: 500;

            span {
                color: $main-color;
            }
        }

        form {
            margin-top: 30px;
            width: 100%;

            label {
                float: left;
                font-size: 13px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .input-submit-container {
                width: 100%;

                input {
                    width: 100%;
                    margin-bottom: 20px;
                    border: 1px $secondary-color solid;
                    border-radius: 5px;
                    height: 35px;
                    padding: 10px;

                    &:focus {
                        border: 2px $main-color solid;
                    }
                }

                button {
                    width: 100%;
                    border: none;
                    color: white;
                    background-color: $main-color;
                    font-size: 16px;
                }
            }
        }
    }
}

footer {
    background-color: $main-color;

    .upper-section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 20px;

        .footer-section-heading {
            color: white;
            font-weight: 500;
            font-size: 16px;
        }

        .footer-list-container {

            li {
                margin-top: 3px;

                a {
                    color: white;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }

        .social-media-section {

            ul {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
                grid-row-gap: 10px;
                margin-top: 10px;
            }

            .fab {
                color: #16284B;
                font-size: 30px;
            }    
        }

        .link-section {
            width: fit-content;
            margin-right: 40px;
            margin-bottom: 40px;
        }
    }

    .lower-section {
        background-color: #365FBA;
        color: white;
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 20px;

        .links-copyright-container {
            margin-right: 20px;
            margin-bottom: 20px;

            .lower-footer-links {
                margin-bottom: 10px;

                a {
                    color: white;
                }
            }
    
            .copyright {
                font-size: 10px;
            }
        }

        .button {
            border: 1px white solid;
            width: 150px;
            height: 35px;

            img {
                width: 8%;
                margin-right: 10px;
            }

            p {
                font-size: 10px;
            }
        }
    }
}

