@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sant-serif;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 16px;
}

.button {
  border-radius: 5px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.button i {
  margin-right: 10px;
}

.section-padding {
  padding: 60px 30px;
}

.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-padding-x {
  padding-left: 30px;
  padding-right: 30px;
}

.line-through {
  text-decoration: line-through;
}

.fas.watermark-icon {
  display: none;
}

.right-column {
  display: none;
}

.section-header {
  position: relative;
  height: 60px;
}

.section-header .section-heading {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.section-header .section-watermark-heading {
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(65, 111, 214, 0.05);
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 50px;
  background-color: #416FD6;
}

nav .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
}

nav .navbar .logo i {
  margin-right: 5px;
}

nav .navbar .cta-hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .cta-hamburger-container a {
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

nav .navbar .cta-hamburger-container a i {
  padding-right: 5px;
  margin-left: 0;
  font-size: 8px;
}

nav .navbar .cta-hamburger-container i {
  margin-left: 30px;
  cursor: pointer;
}

nav .nav-ul {
  display: none;
  background-color: #416FD6;
  border-bottom: 1px #365FBA solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .nav-ul li {
  padding: 10px 0;
}

nav .nav-ul li .nav-link {
  display: block;
  color: white;
  width: 100%;
  border: 1px white solid;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

nav .nav-ul li .nav-link i {
  margin-right: 8px;
}

nav .nav-ul li .nav-link.main-cta {
  background-color: white;
  color: #416FD6;
}

#hero-section .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #416FD6;
  color: white;
  width: 100%;
  margin-top: 40px;
}

#hero-section .left-column p {
  margin-top: 30px;
}

#hero-section .left-column img {
  height: 300px;
  width: 100%;
  margin-top: 30px;
}

#hero-section .left-column a {
  margin-top: 30px;
  color: #416FD6;
  background-color: white;
}

#features-section .features-grid .features-grid-element {
  opacity: 0;
}

#features-section .features-grid .features-grid-element .features-svg-container {
  position: relative;
}

#features-section .features-grid .features-grid-element .features-svg-container.float-right {
  float: right;
  top: 40px;
  margin-right: 10px;
}

#features-section .features-grid .features-grid-element .features-svg-container.float-left {
  top: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

#features-section .features-grid .features-grid-element .features-svg-container img {
  padding-top: 0px;
  max-height: 140px;
  max-width: 200px;
}

#features-section .features-grid .features-grid-element .features-text-container {
  background-color: rgba(198, 198, 255, 0.5);
  padding: 30px;
  width: calc(100vw - 30px);
}

#features-section .features-grid .features-grid-element .features-text-container.float-right {
  float: right;
  border-radius: 10px 0 0 10px;
}

#features-section .features-grid .features-grid-element .features-text-container.float-left {
  border-radius: 0 10px 10px 0;
}

#features-section .features-grid .features-grid-element .features-text-container h3 {
  width: 80%;
}

#features-section .features-grid .features-grid-element .features-text-container p {
  margin-top: 10px;
  text-align: justify;
}

#pricing-section .pricing-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 30px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

#pricing-section .pricing-cards-container::-webkit-scrollbar {
  width: 0 !important;
}

#pricing-section .pricing-cards-container::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vw;
          flex: 0 0 20vw;
}

#pricing-section .pricing-cards-container::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20vw - 30px);
          flex: 0 0 calc(20vw - 30px);
}

#pricing-section .pricing-cards-container .pricing-card {
  border: 3px rgba(198, 198, 255, 0.5) solid;
  border-radius: 10px;
  background-color: rgba(198, 198, 255, 0.5);
  min-width: 60vw;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#pricing-section .pricing-cards-container .pricing-card.spotlight {
  border: 3px #416FD6 solid;
  background-color: #416FD6;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-heading {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-heading p {
  font-size: 18px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-heading.spotlight {
  color: white;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content {
  padding: 20px;
  background-color: white;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-price {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list {
  margin-top: 20px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i {
  width: 20px;
  padding-right: 30px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i.fa-check {
  color: #38B238;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i.fa-times {
  color: #D32E2E;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li p {
  font-size: 13px;
}

#pricing-section .dot-con-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pricing-section .dot-con-wrapper .dot-container {
  background-color: rgba(198, 198, 255, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper {
  padding: 10px 20px;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px #416FD6 solid;
  display: inline-block;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper .active {
  background-color: #416FD6;
}

#signup-section {
  width: 100%;
}

#signup-section .signup-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

#signup-section .signup-section-content p {
  font-size: 18px;
  font-weight: 500;
}

#signup-section .signup-section-content p span {
  color: #416FD6;
}

#signup-section .signup-section-content form {
  margin-top: 50px;
  width: 100%;
}

#signup-section .signup-section-content form label {
  float: left;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

#signup-section .signup-section-content form .input-submit-container {
  width: 100%;
}

#signup-section .signup-section-content form .input-submit-container input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px #C6C6FF solid;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
}

#signup-section .signup-section-content form .input-submit-container input:focus {
  border: 2px #416FD6 solid;
}

#signup-section .signup-section-content form .input-submit-container button {
  width: 100%;
  border: none;
  color: white;
  background-color: #416FD6;
  font-size: 16px;
}

footer {
  background-color: #416FD6;
}

footer .upper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 20px;
}

footer .upper-section .footer-section-heading {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

footer .upper-section .footer-list-container li {
  margin-top: 3px;
}

footer .upper-section .footer-list-container li a {
  color: white;
  font-size: 13px;
  font-weight: 300;
}

footer .upper-section .social-media-section ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-row-gap: 10px;
  margin-top: 10px;
}

footer .upper-section .social-media-section .fab {
  color: #16284B;
  font-size: 30px;
}

footer .upper-section .link-section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 40px;
  margin-bottom: 40px;
}

footer .lower-section {
  background-color: #365FBA;
  color: white;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer .lower-section .links-copyright-container {
  margin-right: 20px;
  margin-bottom: 20px;
}

footer .lower-section .links-copyright-container .lower-footer-links {
  margin-bottom: 10px;
}

footer .lower-section .links-copyright-container .lower-footer-links a {
  color: white;
}

footer .lower-section .links-copyright-container .lower-footer-links span {
  margin-left: 3px;
  margin-right: 3px;
}

footer .lower-section .links-copyright-container .copyright {
  font-size: 10px;
}

footer .lower-section .button {
  border: 1px white solid;
  width: 150px;
  height: 35px;
}

footer .lower-section .button img {
  width: 8%;
  margin-right: 10px;
}

footer .lower-section .button p {
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */