@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$main-color: #416FD6;
$secondary-color: #C6C6FF;
$main-font: Montserrat, sant-serif;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 16px;
} 

.button {
    border-radius: 5px;
    height: 45px;
}

.section-padding {
    padding: 60px 30px;
}

.section-padding-y {
    padding-top: 60px;
    padding-bottom: 60px;
}

.line-through {
    text-decoration: line-through;
}

.fas.watermark-icon {
    display: none;
}

.right-column {
    display: none;
}

nav ul {
    display: none;
}

.section-header {
    position: relative;
    height: 100px;

    .section-heading {
        position: absolute;
        bottom: 10px;
        left: 30px;
    }

    .section-watermark-heading {
        position: absolute;
        bottom: 0;
        left: 2px;
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 2px;
        color: rgba($color: $main-color, $alpha: 0.05);
    }
}

#hero-section {
    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $main-color;
        color: white;
        width: 100%;

        p {
            margin-top: 30px;
        }

        img {
            height: 300px;
            width: 100%;
            margin-top: 30px;
        }

        a {
            margin-top: 30px;
            color: $main-color;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            
            i {
                margin-right: 5px;
            }
        }
    }
}

#features-section {
    .features-grid {

        .features-grid-element {
            margin-bottom: 30px;
            
            .features-svg-container {
                position: relative;

                &.float-right {
                    float: right;
                    top: 50px;
                    margin-right: 10px;
                }

                &.float-left {
                    top: 30px;
                    margin-left: 10px;
                    margin-top: 10px;
                }

                img {
                    max-height: 140px;
                    max-width: 200px;
                }
            }

            .features-text-container {   
                background-color: rgba($color: $secondary-color, $alpha: 0.5);
                padding: 30px;
                width: calc(100vw - 30px);

                &.float-right {
                    float: right;
                    border-radius: 10px 0 0 10px;
                }

                &.float-left {
                    border-radius: 0 10px 10px 0;
                }

                h3 {
                    width: 80%;
                }

                p {
                    margin-top: 10px;
                    text-align: justify;
                }
            }
        }
    }
}

#pricing-section {

    .pricing-cards-container {
        display: flex;
        overflow: auto;

        &::after {
            content: "";
            flex: 0 0 1px;
        }

        .pricing-card {
            border: 3px rgba($color: $secondary-color, $alpha: 0.5) solid;
            border-radius: 10px;
            background-color: rgba($color: $secondary-color, $alpha: 0.5);
            min-width: 70%;
            margin-right: 30px;

            &.spotlight {
                border: 3px $main-color solid;
                background-color: $main-color;
                transform: scale(1.03);
            }

            .pricing-card-heading {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                
                p {
                    font-size: 18px;
                }

                &.spotlight {
                    color: white;
                }
            }

            .pricing-card-content {
                padding: 20px;
                background-color: white;

                .pricing-card-price {
                    text-align: center;
                    font-weight: 600;
                    font-size: 15px;
                    margin-top: 5px;
                }

                .pricing-card-benefit-list {
                    margin-top: 20px;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;

                        i {
                            width: 20px;
                            padding-right: 30px;

                            &.fa-check {
                                color: #38B238;
                            }

                            &.fa-times {
                                color: #D32E2E;
                            }
                        }

                        p {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

