@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #f8f8f8;
  font-family: Montserrat, sans-serif;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px #fafafa inset !important;
  background-color: #fafafa !important;
  background-clip: content-box !important;
}

.loader {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

.hidden {
  -webkit-animation: loader .2s;
          animation: loader .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: calc(25px + 0.5vw);
}

h2 {
  font-size: calc(20px + 0.5vw);
}

h3 {
  font-size: calc(15px + 0.5vw);
}

p {
  font-size: calc(10px + 0.5vw);
  font-family: Mulish, sans-serif;
}

.button {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button i {
  margin-right: 10px;
}

.no-select  {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-padding {
  padding: 60px 30px;
}

.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-padding-x {
  padding-left: 30px;
  padding-right: 30px;
}

.line-through {
  text-decoration: line-through;
}

.section-header {
  position: relative;
  height: 60px;
}

.section-header .section-heading {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: rgba(0, 0, 0, 0.85);
}

.section-header .section-watermark-heading {
  position: absolute;
  font-family: Montserrat, sans-serif;
  bottom: 0;
  left: 2px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(65, 111, 214, 0.05);
}

nav {
  position: fixed;
  width: 100vw;
  z-index: 100;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  height: 50px;
  background-color: #416FD6;
}

nav .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  cursor: pointer;
}

nav .navbar .logo i {
  margin-right: 5px;
}

nav .navbar .cta-hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .cta-hamburger-container a {
  border: 1px #f8f8f8 solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  color: #f8f8f8;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .navbar .cta-hamburger-container a i {
  padding-right: 5px;
  margin-left: 0;
  font-size: 8px;
}

nav .navbar .cta-hamburger-container i {
  margin-left: 30px;
  cursor: pointer;
}

nav .nav-ul {
  display: none;
  background-color: #416FD6;
  border-bottom: 1px #365FBA solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .nav-ul li {
  padding: 10px 0;
}

nav .nav-ul li .nav-link {
  display: block;
  color: #f8f8f8;
  width: 100%;
  border: 1px #f8f8f8 solid;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .nav-ul li .nav-link i {
  margin-right: 8px;
}

nav .nav-ul li .nav-link.main-cta {
  background-color: #f8f8f8;
  color: #416FD6;
}

#hero-section .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #416FD6;
  color: #f8f8f8;
  width: 100%;
  margin-top: 20px;
}

#hero-section .left-column p {
  margin-top: 20px;
  font-size: calc(12px + 0.5vw);
}

#hero-section .left-column img {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

#hero-section .left-column a {
  margin-top: 15px;
  color: #416FD6;
  background-color: #f8f8f8;
}

#hero-section .left-column .fas.watermark-icon {
  display: none;
}

#hero-section .right-column {
  display: none;
}

#features-section .features-grid .features-grid-element {
  opacity: 0;
}

#features-section .features-grid .features-grid-element .features-svg-container {
  position: relative;
}

#features-section .features-grid .features-grid-element .features-svg-container.float-right {
  float: right;
  top: 40px;
  margin-right: 10px;
}

#features-section .features-grid .features-grid-element .features-svg-container.float-left {
  top: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

#features-section .features-grid .features-grid-element .features-svg-container img {
  padding-top: 0px;
  max-height: 140px;
  max-width: 200px;
}

#features-section .features-grid .features-grid-element .features-text-container {
  background-color: rgba(198, 198, 255, 0.5);
  color: rgba(0, 0, 0, 0.85);
  padding: 30px;
  width: calc(100vw - 30px);
}

#features-section .features-grid .features-grid-element .features-text-container.float-right {
  float: right;
  border-radius: 10px 0 0 10px;
}

#features-section .features-grid .features-grid-element .features-text-container.float-left {
  border-radius: 0 10px 10px 0;
}

#features-section .features-grid .features-grid-element .features-text-container h3 {
  width: 80%;
}

#features-section .features-grid .features-grid-element .features-text-container p {
  margin-top: 10px;
  line-height: calc(15px + 1vw);
}

#pricing-section .pricing-cards-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 30px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#pricing-section .pricing-cards-container::-webkit-scrollbar {
  display: none;
}

#pricing-section .pricing-cards-container::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20vw;
          flex: 0 0 20vw;
}

#pricing-section .pricing-cards-container::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20vw - 30px);
          flex: 0 0 calc(20vw - 30px);
}

#pricing-section .pricing-cards-container .pricing-card {
  border: 3px rgba(198, 198, 255, 0.5) solid;
  border-radius: 10px;
  background-color: rgba(198, 198, 255, 0.5);
  min-width: 60vw;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

#pricing-section .pricing-cards-container .pricing-card.spotlight {
  border: 3px #416FD6 solid;
  background-color: #416FD6;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-heading {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.85);
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-heading.spotlight {
  color: #f8f8f8;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content {
  padding: 20px;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.85);
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-price {
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-size: calc(12px + 0.5vw);
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list {
  margin-top: 20px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i {
  width: 20px;
  padding-right: 30px;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i.fa-check {
  color: #38B238;
}

#pricing-section .pricing-cards-container .pricing-card .pricing-card-content .pricing-card-benefit-list li i.fa-times {
  color: #D32E2E;
}

#pricing-section .dot-con-wrapper {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pricing-section .dot-con-wrapper .dot-container {
  background-color: rgba(198, 198, 255, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper .dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px #416FD6 solid;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
}

#pricing-section .dot-con-wrapper .dot-container .dot-wrapper .active {
  background-color: #416FD6;
}

#signup-section {
  width: 100%;
}

#signup-section .signup-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

#signup-section .signup-section-content h3 {
  opacity: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

#signup-section .signup-section-content h3 .span {
  color: #416FD6;
}

#signup-section .signup-section-content form {
  opacity: 0;
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#signup-section .signup-section-content form label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.85);
}

#signup-section .signup-section-content form .invalid-mail-prompt {
  background-color: #d32e2e;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

#signup-section .signup-section-content form .invalid-mail-prompt-text {
  display: none;
  padding: 5px 20px;
  font-size: 11px;
  color: #f8f8f8;
}

#signup-section .signup-section-content form .input-submit-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-section .signup-section-content form .input-submit-container .mail-input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px #C6C6FF solid;
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  background-color: #f8f8f8;
  background-clip: padding-box;
}

#signup-section .signup-section-content form .input-submit-container .mail-input:focus {
  border: 2px #416FD6 solid;
}

#signup-section .signup-section-content form .input-submit-container .signup-button {
  border: none;
  color: #f8f8f8;
  font-size: 16px;
}

#signup-section .signup-section-content form .input-submit-container .signup-button .done-text {
  display: none;
}

#signup-section .signup-section-content form .input-submit-container .signup-button-static {
  width: 100%;
  background-color: #416FD6;
  -webkit-transition: .3s;
  transition: .3s;
}

#signup-section .signup-section-content form .input-submit-container .signup-button-complete {
  width: 40%;
  background-color: #38B238;
  -webkit-transition: .3s;
  transition: .3s;
}

footer {
  background-color: #416FD6;
  font-family: Montserrat, sans-serif;
}

footer .upper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 20px;
}

footer .upper-section .footer-section-heading {
  color: #f8f8f8;
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}

footer .upper-section .footer-list-container li {
  margin-top: 3px;
}

footer .upper-section .footer-list-container li a {
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 300;
}

footer .upper-section .footer-list-container li a:hover {
  text-decoration: underline;
}

footer .upper-section .social-media-section ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-row-gap: 10px;
  margin-top: 10px;
}

footer .upper-section .social-media-section .fab {
  color: #16284B;
  font-size: 30px;
}

footer .upper-section .social-media-section .fab:hover {
  color: #2a406d;
}

footer .upper-section .link-section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 40px;
  margin-bottom: 40px;
}

footer .lower-section {
  background-color: #365FBA;
  color: #f8f8f8;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer .lower-section .links-copyright-container {
  margin-right: 20px;
  margin-bottom: 20px;
}

footer .lower-section .links-copyright-container .lower-footer-links {
  margin-bottom: 10px;
}

footer .lower-section .links-copyright-container .lower-footer-links a {
  color: #f8f8f8;
}

footer .lower-section .links-copyright-container .lower-footer-links a:hover {
  text-decoration: underline;
}

footer .lower-section .links-copyright-container .lower-footer-links .span {
  margin-left: 3px;
  margin-right: 3px;
}

footer .lower-section .links-copyright-container .icons-copyright {
  margin-bottom: 2px;
}

footer .lower-section .links-copyright-container .icons-copyright a {
  color: #f8f8f8;
}

footer .lower-section .links-copyright-container .icons-copyright a:hover {
  text-decoration: underline;
}

footer .lower-section .links-copyright-container .copyright {
  font-size: 10px;
  font-family: Montserrat, sans-serif;
}

footer .lower-section .button {
  border: 1px #f8f8f8 solid;
  width: 150px;
  height: 35px;
}

footer .lower-section .button img {
  width: 8%;
  margin-right: 10px;
}

footer .lower-section .button p {
  font-size: 10px;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 450px) {
  #pricing-section .pricing-cards-container::before {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25vw;
            flex: 0 0 25vw;
  }
  #pricing-section .pricing-cards-container::after {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25vw - 30px);
            flex: 0 0 calc(25vw - 30px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    min-width: 50vw;
    margin-right: 30px;
  }
}

@media (min-width: 550px) {
  #pricing-section .pricing-cards-container::before {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30vw;
            flex: 0 0 30vw;
  }
  #pricing-section .pricing-cards-container::after {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(30vw - 30px);
            flex: 0 0 calc(30vw - 30px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    min-width: 40vw;
    margin-right: 30px;
  }
}

@media (min-width: 700px) {
  #pricing-section .pricing-cards-container::before {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5vw;
            flex: 0 0 37.5vw;
  }
  #pricing-section .pricing-cards-container::after {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(37.5vw - 30px);
            flex: 0 0 calc(37.5vw - 30px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    min-width: 35vw;
    margin-right: 30px;
  }
}

@media (min-width: 800px) {
  #pricing-section .pricing-cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding-left: calc(100px - 85px);
    padding-right: calc(100px - 85px);
  }
  #pricing-section .pricing-cards-container::before {
    display: none;
  }
  #pricing-section .pricing-cards-container::after {
    display: none;
  }
  #pricing-section .pricing-cards-container .pricing-card {
    min-width: auto;
    max-width: 250px;
    margin-right: 15px;
    margin-left: 15px;
  }
  #pricing-section .pricing-cards-container .pricing-card.spotlight {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #pricing-section .dot-con-wrapper {
    display: none;
  }
  #signup-section .signup-section-content form {
    width: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #signup-section .signup-section-content form label {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #signup-section .signup-section-content form .input-submit-container .mail-input {
    height: 40px;
    font-size: 14px;
  }
  #signup-section .signup-section-content form .input-submit-container .signup-button {
    width: 35%;
  }
}

@media (min-width: 900px) {
  .section-padding {
    padding: calc(60px + 20px) 50px;
  }
  .section-padding-y {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-padding-x {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section-header .section-heading {
    bottom: 8px;
    left: 50px;
  }
  .section-header .section-watermark-heading {
    left: calc(50px - 30px);
  }
  nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  nav .navbar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  nav .navbar .logo {
    color: #416FD6;
  }
  nav .navbar .cta-hamburger-container {
    display: none;
  }
  nav .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border-bottom: none;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  nav .nav-ul li .nav-link {
    border: none;
    padding: 8px 15px;
    font-weight: 400;
    font-size: 13px;
  }
  nav .nav-ul li .nav-link.main-cta {
    background-color: transparent;
    color: #f8f8f8;
    border: 1px #f8f8f8 solid;
  }
  #hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #hero-section .left-column {
    position: relative;
    text-align: left;
    background-color: rgba(65, 111, 214, 0.03);
    color: rgba(0, 0, 0, 0.85);
    width: 50%;
    margin-top: 0px;
    padding-top: 120px;
  }
  #hero-section .left-column img {
    display: none;
  }
  #hero-section .left-column a {
    margin-top: 100px;
    color: #f8f8f8;
    background-color: #416FD6;
  }
  #hero-section .left-column .fas.watermark-icon {
    display: block;
    position: absolute;
    color: rgba(65, 111, 214, 0.1);
  }
  #hero-section .left-column .fa-location-arrow {
    bottom: 25px;
    left: 80px;
    font-size: 30px;
  }
  #hero-section .left-column .fa-map-marker-alt {
    bottom: 170px;
    right: 150px;
    font-size: 38px;
  }
  #hero-section .left-column .fa-compass {
    top: 170px;
    left: 40px;
    font-size: 30px;
  }
  #hero-section .left-column .fa-map-pin {
    top: 90px;
    right: 70px;
    font-size: 38px;
  }
  #hero-section .right-column {
    width: 50%;
    display: block;
    background-color: #416FD6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    padding-top: 120px;
  }
  #hero-section .right-column img {
    height: 300px;
    width: 100%;
  }
  #features-section .features-grid .features-grid-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  #features-section .features-grid .features-grid-element .features-svg-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #features-section .features-grid .features-grid-element .features-svg-container.float-right {
    top: 0px;
    margin-right: 0px;
  }
  #features-section .features-grid .features-grid-element .features-svg-container.float-left {
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #features-section .features-grid .features-grid-element .features-svg-container img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #features-section .features-grid .features-grid-element .features-text-container {
    padding: 50px 50px;
    width: 50%;
  }
  #features-section .features-grid .features-grid-element .features-text-container h3 {
    width: 100%;
  }
  #pricing-section .pricing-cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding-left: calc(50px - 20px);
    padding-right: calc(50px - 20px);
  }
  #pricing-section .pricing-cards-container::before {
    display: none;
  }
  #pricing-section .pricing-cards-container::after {
    display: none;
  }
  #pricing-section .pricing-cards-container .pricing-card {
    min-width: auto;
    max-width: 250px;
    margin-right: 20px;
    margin-left: 20px;
  }
  #pricing-section .pricing-cards-container .pricing-card.spotlight {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #pricing-section .dot-con-wrapper {
    display: none;
  }
  footer .upper-section .footer-section-heading {
    font-size: 14px;
  }
  footer .upper-section .footer-list-container li a {
    font-size: 12px;
  }
}

@media (min-width: 1100px) {
  .section-padding {
    padding: calc(60px + 20px) 100px;
  }
  .section-padding-y {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-padding-x {
    padding-left: 100px;
    padding-right: 100px;
  }
  .section-header .section-heading {
    bottom: 8px;
    left: 100px;
  }
  .section-header .section-watermark-heading {
    left: calc(100px - 40px);
  }
  #features-section .features-grid .features-grid-element .features-text-container {
    padding: calc(100px - 30px) calc(100px - 30px);
  }
  #pricing-section .pricing-cards-container {
    padding-left: calc(100px - 20px);
    padding-right: calc(100px - 20px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 1400px) {
  .section-padding {
    padding: calc(80px + 20px) 150px;
  }
  .section-padding-y {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-padding-x {
    padding-left: 150px;
    padding-right: 150px;
  }
  .section-header .section-heading {
    bottom: 8px;
    left: 150px;
  }
  .section-header .section-watermark-heading {
    left: calc(150px - 40px);
  }
  #features-section .features-grid .features-grid-element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #features-section .features-grid .features-grid-element .features-text-container {
    padding: calc(150px - 60px) calc(150px - 60px);
    width: calc(50% - 150px);
  }
  #features-section .features-grid .features-grid-element .features-text-container.float-right {
    border-radius: 10px;
    float: none;
  }
  #features-section .features-grid .features-grid-element .features-text-container.float-left {
    border-radius: 10px;
    float: none;
  }
  #features-section .features-grid .features-grid-element .features-svg-container {
    width: calc(50% - 150px);
  }
  #pricing-section .pricing-cards-container {
    padding-left: calc(150px - 20px);
    padding-right: calc(150px - 20px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 1400px) {
  .section-padding {
    padding: calc(110px + 20px) 200px;
  }
  .section-padding-y {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .section-padding-x {
    padding-left: 200px;
    padding-right: 200px;
  }
  .section-header .section-heading {
    bottom: 8px;
    left: 200px;
  }
  .section-header .section-watermark-heading {
    left: calc(200px - 40px);
  }
  #features-section .features-grid .features-grid-element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #features-section .features-grid .features-grid-element .features-text-container {
    padding: calc(200px - 100px) calc(200px - 100px);
    width: calc(50% - 200px);
  }
  #features-section .features-grid .features-grid-element .features-text-container.float-right {
    border-radius: 10px;
    float: none;
  }
  #features-section .features-grid .features-grid-element .features-text-container.float-left {
    border-radius: 10px;
    float: none;
  }
  #features-section .features-grid .features-grid-element .features-svg-container {
    width: calc(50% - 200px);
  }
  #pricing-section .pricing-cards-container {
    padding-left: calc(200px - 60px);
    padding-right: calc(200px - 60px);
  }
  #pricing-section .pricing-cards-container .pricing-card {
    margin-right: 60px;
    margin-left: 60px;
  }
}
/*# sourceMappingURL=style.css.map */